article p {
  font-size: var(--fs-300);
  font-weight: 400;
}

@media screen and (min-width: 375px) {
  :root {
    --padding-inline: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --padding-inline: 2.5rem;
  }

  article p {
    font-size: var(--fs-100);
  }
}

@media screen and (min-width: 1440px){
  :root {
    --padding-inline: 4rem;
  }

  article p {
    font-size: var(--fs-200);
  }

  .App{
    position: relative;
    max-width: 1536px;
    margin-inline: auto;
    overflow: hidden;
  }
}
